# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Django
*.log
local_settings.py
db.sqlite3

# React builds
marketing_front/build/
frontend/build/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.idea/
.vscode/

# Other
.DS_Store