.idea/

.idea

*.swp

*.pdf

chemsapp/media/documents

node_modules/
build/

*.pyc

db.sqlite3

venv/
.venv/

__pycache__/

*.sqlite3

.idea/misc.xml

*.iml

*.iml

.idea/misc.xml

.idea/chemicaldatasheets.iml

# build versioned files
**/main.*.js*
**/main.*.css*

# Django log file
alllogs.log