.idea/

.idea

*.swp

*.pdf

chemsapp/media/documents

node_modules/
build/

*.pyc

db.sqlite3

venv/
.venv/

__pycache__/

.DS_Store

*.sqlite3

.idea/misc.xml

*.iml

*.iml

.idea/misc.xml

.idea/chemicaldatasheets.iml

# build versioned files
**/main.*.js*
**/main.*.css*

# Django log file
alllogs.log

# Collected statics output
dist_static/

# Published output
dist/

# Published archives
geller_*.tgz
/upgrade_env
Geller_Site_Files
/.vscode
/virenv

/chemsapp/migrations
chemsapp/migrations/0001_initial.py
/chemsapp/migrations
chemsapp/migrations/0001_initial.py
chemsapp/migrations/0001_initial.py
sandymountsunrise.webp
sample_report_data.json
run_browser_tests.py
reports/test_api.py
reports/management/commands/create_food_safety_inspection.py
reports/management/commands/create_complex_restaurant_report.py
get-pip.py
full_report_response.json
food_safety_structure_formatted.json
food_safety_structure.json
food_safety_sample_data.json
food_safety_full_report.json
media/documents/test.txt
FOOD_SAFETY_CONDITIONAL_DEMO.md
food_safety_complete_report.json
COMPREHENSIVE_API_DEMO.md
chemsapp/management/commands/create_dummy_data.py
aaaaa.csv
/media/answer_attachments
prod_auth_user.csv
prod_customer.csv
prod_distributor.csv
prod_distributor_customers.csv
prod_profile.csv
backups/gellerbackup
production_backup.sql
production_backup.json
production_backup.dump
reports/management/commands/import_stores.py
Upload for App /Complaince Managers-Table 1.csv
Upload for App /Customers-Table 1.csv
Upload for App /Users-Table 1.csv
/backups
import_onedose_products.py
migrate_products.py
migration_summary_20260201_083935.json
migration_skipped_20260201_083935.csv
migration_same_id_diff_data_20260201_083935.json
migration_safe_to_add_20260201_083935.csv
migration_name_code_conflicts_20260201_083935.json
media/documents/2261558143.jpg
media/documents/2261558143_lsJBYwT.jpg
/media/documents
/media
