body {
  margin: 0;
  padding: 0;
  font-family: "Aktiv Grotesk", sans-serif !important;
}

* {
  font-family: "Aktiv Grotesk", sans-serif !important;
}

/* Headers should still use Medium */
h1, h2, h3, h4, h5, h6, .header, .heading {
  font-family: "Aktiv Grotesk Medium", sans-serif !important;
}

/* Category List and list item styling */
.category-item {
  padding: 0.25rem 1.5rem !important;
  border: none !important;
  width: 100% !important;
}

.category-text {
  font-size: 10px !important;
  font-weight: 100 !important;
  line-height: 1;
}

li {
  font-weight: 100 !important;
  font-size: 11px !important;
}

.list-group-item {
  padding: 0.25rem 1.5rem !important;
}

.description-text {
  font-size: 11px !important;
  font-weight: 50 !important;
  line-height: 1.5;
}

a.sds-btn {
  border-radius: 6px;
  padding: 0.3rem 0.4rem !important;
  background-color: rgb(145, 151, 150) !important;
  color: white !important;
  font-size: 10px !important;
  font-weight: 100 !important;
  text-decoration: none !important;
}

a.sds-btn:hover {
  background-color: rgb(53, 207, 192) !important;
}
