{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}
{% if user.is_authenticated %}
<div id="header">
    <div id="nav-global">
        <a href="{% url 'admin:chemsapp_post_special' %}" style="color: #fff; text-decoration: none; padding: 8px 15px; background-color: #5a2684; border-radius: 3px; margin-left: 10px;">Special Posts</a>
        <a href="/reports/" style="color: #fff; text-decoration: none; padding: 8px 15px; background-color: #417690; border-radius: 3px; margin-left: 10px;">Reports</a>
        <a href="{% url 'reports:completed_reports_list' %}" style="color: #fff; text-decoration: none; padding: 8px 15px; background-color: #28a745; border-radius: 3px; margin-left: 10px;">Completed Reports</a>
        <a href="{% url 'tickets:ticket_dashboard' %}" style="color: #fff; text-decoration: none; padding: 8px 15px; background-color: #17a2b8; border-radius: 3px; margin-left: 10px;">Tickets</a>
    </div>
</div>
{% endif %}
{% endblock %}